/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-image: url('milkway1.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 430px;
    width: 100%;
    background-color: rgb(0, 0, 0, 20%);
    border-radius: 30px;
    border: 2px solid #dddddd8d;
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 7rem;
    width: 25rem;
}
header{
    color: #ddd;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }
.fa-user{
    position: absolute;
    right: 57px;
    top: 55px;
    cursor: pointer;
}
.flame img{
    height: 18rem;
    width: 18rem;
    border-radius: 17px;
    margin: 1px;
    margin-bottom: 0.1px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}
.flame div{
    color: #ddd;
    font-size: 14px;
    font-weight: 200;
    text-align: center;  
    margin-bottom: none;
}
#text2{
    font-size: 11px;
    font-weight: 100;
    color: #352e2e;
}
.addiary span{
    position: absolute;
    bottom: 2rem;
    left: 10.8rem;
    background-color: #ddd;
    border-radius: 3rem;
    width: 3rem;
    height: 3rem;
}
.addiary img{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 7px;
    margin: 1px;
    margin-bottom: 0.1px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    position: absolute;
    bottom: 2.2rem;
    left: 3.5rem;
}