html{
  min-height: 100%;
}

body{
  margin: 0;
  padding: 0;
  justify-content: center;
  background-image: url('milkway1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  animation: animatebg 0s linear infinite;
  top:0;
  left:0;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.wrapper h1{
  color: #ffffff00;
  -webkit-text-stroke-width: .75px;
  -webkit-text-stroke-color: rgb(240, 248, 255);
  font-size: calc(6em);
  margin: auto;
  margin-top: calc(15%);
  z-index: 3;
}

.wrapper h2{
  color: aliceblue;
  margin-top: -10px;
  margin-left: 7%;
  font-size: 1.25em;
  z-index: 2;
}

.wrapper{
  position: relative;
  z-index: 1;
  text-align: center;
}

input.button{
  color: #fff;
  background: transparent;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, .2);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
  font-size: 12px;
  padding: 13px;
  width: 200px;
  margin-top: 5px;
  z-index: 4;
}

input.button:hover{
  background: white;
  color: #150c0c;
}

spline-viewer {
  z-index: 10;
}
/*
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


*/


.earth-e-m{
  filter: grayscale(50%);
  bottom: -10%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  position: absolute;
  z-index: 1000;
}
.earth{
  width: 2500px;
  height: auto;
  animation: earthMoving 400s linear infinite;
  transform-origin: center;
}

h2{
  color: white;
  text-align: center;
}
@keyframes earthMoving{
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  position:absolute;
  top:-10%;
  left:0;
  width:100%;
  height:100vh;
  animation: animatebg 0s linear infinite;
}
@keyframes glowing-stars{
  0%,100%{
      transform: scale(1);
              color: lightyellow;
      text-shadow: none;
  }
  50%{
      transform: scale(1.2);
      text-shadow: 0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #fff,
      0 0 40px #fff,
      0 0 160px #fff,
      0 0 10px #fff;
  }
}
span{
  position: absolute;
  top: 50%;
  left: 50%;;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px 4px rgba(255,255,255,0.1),
  0 0 10px 8px rgba(255,255,255,0.1),
  0 0 10px rgb(255,255,255,1);
  line-height: 0.70em;
  outline: none;
  animation: animate 6s linear infinite;
}
span::before{
  content:'';
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width: 150px;
  height:1px;
  background:linear-gradient(90deg, #fff, 
  transparent);
}
@keyframes animate{
  0%
  {
      transform: rotate(315deg) translateX(0);
      opacity: .1;
  }
  70%
  {
      opacity: 3;
  }
  100%
  {
      transform: rotate(315deg) translate(-1000px);
      opacity: 1.5;
  }
}
span:nth-child(1)
{
  top: 0px;
  right: 0px;
  animation-delay: 0.6s;
  animation-duration: 3s;
  left: initial;
}
span:nth-child(2)
{
  top: 0px;
  right: 80px;
  left: initial;
  animation-delay: 0.08s;
  animation-duration: 6s;
}
span:nth-child(3)
{
  top: 80px;
  right: 0px;
  left: initial;
  animation-delay: 1.6s;
  animation-duration: 5s;
}
span:nth-child(4)
{
  top: 0px;
  right: 180px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 1.5s;
}
span:nth-child(5)
{
  top: 0px;
  right: 400px;
  left: initial;
  animation-delay: 3s;
  animation-duration: 2.5s;
}
span:nth-child(6)
{
  top: 0px;
  right: 600px;
  left: initial;
  animation-delay: 1.9s;
  animation-duration: 3s;
}
span:nth-child(7)
{
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.75s;
}
span:nth-child(8)
{
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 4s;
  animation-duration: 2.50s;
}
span:nth-child(9)
{
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 3s;
  animation-duration: 2.25s;
}
span:nth-child(10)
{
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 4.75s;
  animation-duration: 2.25s;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

