html{
  min-height: 100%;
}

body{
  background-image: url("milkway1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper h1{
  color: #ffffff00;
  -webkit-text-stroke-width: .75px;
  -webkit-text-stroke-color: rgb(240, 248, 255);
  font-size: calc(6em);
  margin: auto;
  margin-top: calc(15%);
}

.wrapper h2{
  color: aliceblue;
  margin-top: -10px;
  margin-left: 7%;
  font-size: 1.25em;
}

.wrapper{
  text-align: center;
}

.btn{
  background-color: #0000008e;
  border-radius: 12px;
  border: .5px solid rgba(255, 255, 255, 0);
  color: rgb(240, 248, 255);
  padding: 12px 75px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}