/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-image: url('milkway1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container0{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 10px;
  color: #ddd;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
}

.xbox{
  position: absolute;
  right: 20px;
}

.container0 h1{
  margin-bottom: 10px;
}

.container0 h2{
  font-size: 20px;
  margin-bottom: 10px;
}

.container{
  background-color: rgb(0, 0, 0, 20%);
  border-radius: 30px;
  border: 2px solid #dddddd8d;
}

.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 3rem;
  padding-top: 1rem;


}
.form header{
  color: #ddd;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   background-color: transparent;
   caret-color: #ffffff;
   color: #ffffff;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border-top: 1px transparent;
   border-left: 1px transparent;
   border-right: 1px transparent;
   border-bottom: 1px solid #ddd;
   outline: none;
 }

::placeholder{
  color: #dddddd8a;
}

.check label{
    font-size: 12px;
    margin-left: 17px;
    margin-top: 5px;
    color: #7a90ffcd;
    text-decoration: none;
    display: flex;
    width: auto;
    height: 17px;
}

input.Remember{
    margin-top: 1.25px;
    width: 15px;
    height: 15px;
    accent-color: #7a90ffcd;
}

.check p{
    margin-bottom: 10px;
    margin-left: 7px;
}

.check a{
  margin-bottom: 5px;
  margin-left: 25%;
  font-size: 12.5px;
  color: #7a90ffcd;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}

.form input.button{
  color: #fff;
  background: transparent;
  border-radius: 20px;
  border: 2px solid #dddddd8d;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: white;
  color: #150c0c;
}
.signup{
  color: #ddd;
  font-size: 16px;
  text-align: center;
}

.signup a{
  color: #7a90ffcd;
  text-decoration: none;
}

.signup a::hover{
  text-decoration: underline;
}
