/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  min-height: 100%;
}

body{
  background-image: url("milkway1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar ul{
    list-style-type: none;
    background-color: #090101;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }
  .navbar a{
    color: #ddd;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
  }
  .navbar a:hover{
    background-color: #4d4444;
  }
  .navbar li{
    float: left;
  }
  body i{
    position: absolute;
    right: 2rem;
    top: 1.7rem;
  }
  .navdrop{
    display: inline-block;
    text-align: center;
    right: 2.5rem;
    top: 10px;
    position: absolute;
  }
  .navdrop button{
    background-color: transparent;
    color: #ffffff;
    padding: 10px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    width: 0.1rem;
  }
  .navdrop .fa-xl{
    position: absolute;
    display: inline-block;
    left: 0.5rem;
    top: 19px;
  }
  .navdrop .nav{
    display: block;
    color: rgb(243, 240, 240);
    text-decoration: none;
    padding: 10px;
    min-width: 100px;
    display: none;
    border-radius: 3px;
  }
  #navuser{
    border-bottom: 2px solid rgba(255, 255, 255, .2);
  }
  .navdrop .navcon{
    position: absolute;
    background-color: none;
    border: none;
    right: 1.9rem;
    border-radius: 30px;
  }
  .navdrop:hover .navcon{
    width: 2rem;
    height: 3rem;
    border-radius: 30px;
  }
  .navdrop:hover .nav{
    display: block;
    background-color: #090101;
    border: none;
  }
  .navdrop:hover button{
    background-color: none;
    margin-bottom: 5px;
    border: none;
  }
  .navdrop .nav:hover{
    background-color: rgb(174, 178, 178);
  }