*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: url(milkway1.jpg);
    background-size: cover;

}
h2{
    position: relative;
    font-size: 5em;
    letter-spacing: 15px;
    color: transparent;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004)
    ;
    line-height: 0.70em;
    outline: none;
    animation: animate 2s linear infinite;
}
@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: transparent;
        box-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: transparent;
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #fff,
        0 0 60px #fff;
    }
}