<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Home{% endblock %}</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/base1.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.490/build/spline-viewer.js"></script>
</head>

<body>
    <div class="wrapper">
        <h1>DIARY</h1>
        <h2>Save your memories</h2>
        <a href="/home"><input type="submit" class="button" value="Enter"></a>
    </div>

    <div class="earth-e-m">
        <img src="{{ url_for('static',filename='styles/earth2.png') }}" alt="" class="earth">
    </div>

    <section>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </section>
</body>

</html>