{% extends "navbar.html" %}
{% block title %}history{% endblock %}

{% block content %}
  <script src="https://kit.fontawesome.com/1fadf630f7.js" crossorigin="anonymous"></script>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/edit.css') }}">
</head>
<body>
    <div class="container0">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <h1>{{ message }}</h1>
                {% else %}
                    <h2>{{ message }}</h2>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
        <div class="container">
            
            <header>Docket</header>
            <a href="/diary"><i class="fa-solid fa-angles-left" style="color: #ffffff;"></i></a>
            <a href="#"><i class="fa-solid fa-camera fa-xl" id="camera" style="color: #ffffff;"></i></a>
            
            <form action="" method="post">
                <div class="flame">
                    <textarea class="text" id="text" name="text" placeholder="text . . ." required></textarea>
                </div>
                <div class="addiary">
                    <div class="memory">memories</div>
                    <input type="submit" class="button" value="submit">
                </div> 
            </form>
        </div>
    </div>
</body>
</html>
{% endblock %}
