{% extends "navbar.html" %}

{% block content %}

<head>
    <script src="https://kit.fontawesome.com/1fadf630f7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/test2.css') }}">
</head>

<body>
    <span><a href="/diary"><i class="fa-solid fa-angles-left" style="color: #ffffff;"></i></a>
        <div class="container">
            <header>My Diary</header>
            {% for i in range(note_len) %}
            {% if note_str[i] == note_id %}
            <p>{{ note_date[i] }} {{ note[i].day }} {{ note[i].month}}</p>
            <div class="flame">
                <div class="row1" id="f11"><img src="/test/{{ note[i].filename }}" alt="picture">
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <div class="txt">
                {% for i in range(note_len) %}
                {% if note_str[i] == note_id %}
                <textarea class="text" cols="30" rows="10" disabled>{{ note[i].data }}</textarea>
                {% endif %}
                {% endfor %}
            </div>
        </div>
</body>

</html>
{% endblock %}