{% extends "navbar.html" %}
{% block title %}history{% endblock %}

{% block content %}
<head>
  <script src="https://kit.fontawesome.com/1fadf630f7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type='text/css' href="{{ url_for('static',filename='styles/history.css') }}">
</head>

<body>
    <div class="container">
        <span><a href="/diary"><i class="fa-solid fa-angles-left" style="color: #ffffff;"></i></a>
            <a href="#"><i class="fa-solid fa-user fa-xl" id="userinbox" style="color: #ffffff;"></i></a>
        </span>
        <div class="dropdown">
            <button> Month <span><i class="fa-solid fa-angle-down" style="color: #ffffff;"></i></span></button>
            <div class="content">
                <a href="#">Default</a>
                <a href="#">Favorite</a>
                <a href="#">January</a>
                <a href="#">February</a>
                <a href="#">March</a>
                <a href="#">April</a>
                <a href="#">May</a>
                <a href="#">June</a>
                <a href="#">July</a>
                <a href="#">August</a>
                <a href="#">September</a>
                <a href="#">October</a>
                <a href="#">November</a>
                <a href="#">December</a>
            </div>
        </div>
        <div class="flame">
            {% for i in note %}
                <a href="/test2/{{ i }}"><div class="row1" id="f11"><img src="{{ url_for('static',filename='styles/jin.JPG') }}" alt="picture"></div></a>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}
