<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Home{% endblock %}</title>
  <script src="https://kit.fontawesome.com/1fadf630f7.js" crossorigin="anonymous"></script>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/navbar.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            {% if not user.is_authenticated %}
            <li><a href="/home">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
            {% else %}
            <li><a href="/home">Home</a></li>
            <li><a href="/diary">Diary</a></li>
            {% endif %}
        </ul>
    </nav>
    {% if user.is_authenticated %}
    <div class="navdrop">
        <button class="navbut"><a href="/user/info"><i class="fa-solid fa-user fa-xl" id="nav-iogo" style="color : #ffffff;"></i></a></button>
        <div class="navcon">
            <a href="#" class="nav" id="navuser">User</a>
            <a href="#" class="nav">Login</a>
        </div>
    </div>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>