<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.490/build/spline-viewer.js"></script>

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/test.css') }}">
</head>

<body>
    <div class="container">
        <h1>DIARY</h1>
        <h2>Save your memories</h2>
        <a href="/home"><input type="submit" class="button" value="Enter"></a>
        <spline-viewer url="https://prod.spline.design/KbXMVFGc5XEgJXw1/scene.splinecode"></spline-viewer>
    </div>
</body>

</html>