<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.490/build/spline-viewer.js"></script>


</head>

<style>
    body {
        background-color: gray;
    }

    h1 {
        position: absolute;
        z-index: 1;
    }

    .id {
        width: auto;
    }
</style>

<body>
    <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui in accusantium pariatur consequuntur magnam fugiat
        eius repellat possimus porro neque minima delectus, inventore consequatur tempora vero velit aut iusto
        molestiae!
    </h1>
    <spline-viewer url="https://prod.spline.design/xZIOThFFXOtZPkne/scene.splinecode"></spline-viewer>
    <h2>wdwdadwad</h2>
</body>

</html>