<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, doloremque quo! Itaque esse doloribus distinctio consequuntur consectetur? Officiis vero, minima vel voluptatibus ipsam maxime quidem in quae fugit provident! Odio?
    <img src="{{ url_for('static',filename='styles/wlop.jpg') }}">
</body>
</html>